<div class="panel">
  <form [formGroup]="professionalSignup" (ngSubmit)="onSubmit()">
    <input
      id="surName"
      name="surName"
      type="text"
      placeholder="Vezetéknév"
      formControlName="lastName"
    /><br />
    <input
      type="text"
      placeholder="Keresztnév"
      formControlName="firstName"
    /><br />
    <input type="email" placeholder="Email" formControlName="email" /><br />
    <input
      type="phone"
      placeholder="Telefonszám"
      formControlName="phoneNumber"
    /><br />
    <input
      type="password"
      placeholder="Jelszó"
      formControlName="password"
    /><br />

    <ng-container formArrayName="education">
      <div
        *ngFor="let edu of education.controls; let i = index"
        [formGroupName]="i"
      >
        <input
          type="text"
          placeholder="Mettől - Év (pl. 2020)"
          formControlName="year_from"
        /><br />
        <input
          type="text"
          placeholder="Mettől - Hónap (pl. 09)"
          formControlName="month_from"
        /><br />
        <input
          type="text"
          placeholder="Meddig - Év (pl. 2022)"
          formControlName="year_to"
        /><br />
        <input
          type="text"
          placeholder="Meddig - Hónap (pl. 06)"
          formControlName="month_to"
        /><br />
        <input
          type="text"
          placeholder="Intézmény"
          formControlName="institution"
        /><br />
        <input
          type="text"
          placeholder="Szakma"
          formControlName="profession"
        /><br />
        <button
          type="button"
          (click)="removeEducation(i)"
          *ngIf="education.length > 1"
        >
          Tanulmány törlése</button
        ><br />
      </div>
      <button type="button" (click)="addEducation()">
        Tanulmány hozzáadása</button
      ><br />
    </ng-container>

    <ng-container formArrayName="services">
      <div
        *ngFor="let service of services.controls; let j = index"
        [formGroupName]="j"
      >
        <input
          type="text"
          placeholder="Munka típusa"
          formControlName="workType"
        /><br />
        <input
          type="text"
          placeholder="Egység (pl. m², db)"
          formControlName="unit"
        /><br />
        <input
          type="number"
          placeholder="Ár (Ft)"
          formControlName="price"
        /><br />
        <button
          type="button"
          (click)="removeService(j)"
          *ngIf="services.length > 1"
        >
          Szolgáltatás törlése</button
        ><br />
      </div>
      <button type="button" (click)="addService()">
        Szolgáltatás hozzáadása</button
      ><br />
    </ng-container>

    <button type="submit">Regisztráció</button>
  </form>
</div>
