<div class="main">
  <h1>Elfelejtett jelszó</h1>
  <div class="panel">
    <form [formGroup]="forgotPassWordForm" (ngSubmit)="onSubmit()">
      <input
        id="email"
        name="email"
        type="text"
        autocomplete="on"
        placeholder="Email cím"
        formControlName="email"
      /><br />
      <input
        id="pwd"
        name="pwd"
        type="text"
        autocomplete="on"
        placeholder="Új jelszó megadása"
        formControlName="password"
      /><br />
      <button type="submit">Új jelszó beállítása</button
      ><button routerLink="/login">Vissza a bejelentkezés oldalra!</button>
    </form>
  </div>
</div>
