<div class="main">
  <div class="panel">
    <h1>Bejelentkezés</h1>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <label for="email">Email cím:</label><br />
      <input
        id="email"
        name="email"
        type="text"
        autocomplete="on"
        formControlName="email"
      /><br />
      <label for="pwd">Jelszó:</label><br />
      <input
        id="pwd"
        name="pwd"
        type="text"
        autocomplete="on"
        formControlName="password"
      /><br />
      <button type="submit">Bejelentkezés</button>
    </form>
    <a routerLink="/dashboard"></a>
    <p><a routerLink="/forgot-password">Elfelejtettem a jelszavam</a></p>
    <p><a routerLink="/signup">Még nincs fiókom, regisztrálok!</a></p>
  </div>
</div>
