<div class="main">
  <div class="frontline">
    <div class="title">
      <h1>ProfessionalSearch szakember kereső</h1>
      <h3>Ahol megtalálod, aki Neked kell!</h3>
    </div>
    <div class="searchfield">
      <input type="text" placeholder="Szakember..." />
      <input type="text" placeholder="Település" /><button>Keresés</button>
    </div>
  </div>
  <div class="professional-types">
    <h1>Nálunk mindenkit megtalálsz!</h1>
    <div class="container">
      <div class="education"></div>
    </div>
  </div>
</div>
