<div class="main">
  <h1>Regisztráció</h1>
  <form [formGroup]="userProfile" ngSubmit="onSubmit()">
    <label for="surname">Vezetéknév:</label><br />
    <input name="surname" type="text" formControlName="surname" /><br />
    <label for="firstname">Keresztnév:</label><br />
    <input name="firstname" type="text" formControlName="firstname" /><br />
    <label for="email">Email cím:</label><br />
    <input name="email" type="text" formControlName="email" /><br />
    <label for="phoneNumber">Telefonszám</label><br />
    <input name="phoneNumber" type="text" formControlName="phoneNumber" /><br />
    <label for="pwd">Jelszó:</label><br />
    <input name="pwd" type="text" formControlName="password" /><br />
  </form>
</div>
<button (click)="onSubmit()">sacg</button>
