<div class="panel">
  <form [formGroup]="userProfile" (ngSubmit)="onSubmit()">
    <input
      id="surname"
      name="surname"
      type="text"
      autocomplete="on"
      placeholder="Vezetéknév"
      formControlName="surname"
    /><br />
    <input
      id="firstname"
      name="firstname"
      type="text"
      autocomplete="on"
      placeholder="Keresztnév"
      formControlName="password"
    /><br />
    <!--<input
      id="profile_picture"
      name="profile_picture"
      type="file"
      formControlName="profile_picture"
    /><br />-->
    <input
      id="email"
      name="email"
      type="text"
      autocomplete="on"
      placeholder="Email cím"
      formControlName="email"
    /><br />
    <input
      id="phoneNumber"
      name="phoneNumber"
      type="text"
      autocomplete="on"
      placeholder="Telefonszám"
      formControlName="phoneNumber"
    /><br />
    <input
      id="password"
      name="password"
      type="password"
      autocomplete="on"
      placeholder="Jelszó"
      formControlName="password"
    /><br />
    <button type="submit">Regisztráció</button>
  </form>
</div>
