<div class="loading-datas" *ngIf="!professional"></div>
<div class="userform" *ngIf="professional">
  Név:<br />
  {{ professional.surname }}{{ professional.firstname }}<br />
  Email cím:<br />
  {{ professional.email }}<br />
  Telefonszám:<br />
  {{ professional.phoneNumber }}
</div>
<section>
  <div class="opinion">
    <h1>Írj véleményt a szakemberről!</h1>
    <form [formGroup]="giveOpinion" (ngSubmit)="addOpinion()">
      <textarea
        rows="4"
        cols="60"
        name="opinion"
        id="opinion"
        formControlName="opinion"
      ></textarea
      ><br />
      <button type="submit">Vélemény beküldése</button>
    </form>
  </div>
</section>
<section>
  <h1>Korábban írták:</h1>
  @for (opinion of opinions; track $index) {
  <div class="previous_opinions">
    <h3>{{ opinion.description }}</h3>
    <h5>User_id: {{ opinion.user_id }}</h5>
  </div>

  }
</section>
